<div class="list">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title class="m0">Rentals available</mat-card-title>
      <button
        *ngIf="user!.admin"
        mat-raised-button
        color="primary"
        routerLink="create"
        class="create"
      >
        <mat-icon>add</mat-icon>
        <span class="ml1">Create</span>
      </button>
    </mat-card-header>
    <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
      <mat-card class="item" *ngFor="let session of sessions$ | async" fxFlex>
        <mat-card-header>
          <mat-card-title>{{ session.name }}</mat-card-title>
          <mat-card-subtitle>
            Session on {{ session.date | date : "longDate" }}
          </mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image fxLayoutAlign="center center">
          <img class="picture" src="assets/sessions.png" alt="Yoga session" />
        </div>
        <mat-card-content>
          <p>
            {{ session.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['detail', session.id]"
          >
            <mat-icon>search</mat-icon>
            <span class="ml1">Detail</span>
          </button>
          <button
            *ngIf="user!.admin"
            mat-raised-button
            color="primary"
            [routerLink]="['update', session.id]"
          >
            <mat-icon>edit</mat-icon>
            <span class="ml1">Edit</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
